* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #CCC;
}

table th {
    height: 26px;
    background: #E6E6E6;
    word-break: normal;
    padding: 5px 8px;
    text-align: left;
}

table td {
    height: 26px;
    padding: 5px 8px;
    word-break: normal;
}

.after_content {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.right {
    width: 300px;
    /* background: #373277; */
    position: fixed;
    top: 0;
    right: 0;
    border-left: 1px solid #ccc;
}

.logo {
    width: 300px;
    height: 200px;
    position: relative;
}

.logo .content {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    background-image: url(../img/IMG_0020.JPG);
    background-size: 100px 100px;
    cursor: pointer;
}

.logo .name{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.panel {
    width: 300px;
    height: auto;
    /* background: #ff0000; */
    margin-top: 30px;
}

.p_content {
    width: 100%;
    height: 100%;
}

.p_content h3 {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 20px;
}

.p_content li {
    margin-bottom: 20px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.p_content span {
    padding-left: 20px;
    display: block;
}

.p_content span a {
    text-decoration: none;
    color: #000;
    padding-left: 20px;
}

.p_content span a:hover {
    text-decoration: underline;
}

.p_content span:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #000;
}

.addbackground {
    background: #ccc;
}

.sidebar {
    width: 16px;
    height: 75px;
    color: #999;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px solid #DDD;
    font-size: 16px;
    padding: 2px 10px;
    box-sizing: content-box;
    cursor: pointer;
    display: none;
}

.sidebar:hover {
    background: #ddd;
}